/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/************************ BASE STYLES ***************************/
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Jenriv;
}

@font-face {
  font-family: 'Earthan';
  src: url('../fonts/earthan/earthan.otf') format('opentype');
}

@font-face {
  font-family: 'Jenriv';
  src: url('../fonts/jenriv/jenrivtitling-regular.otf') format('opentype');

  font-family: 'Jenriv Bold';
  src: url('../fonts/jenriv/jenrivtitling-bold.otf') format('opentype');
}

.content-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

body {
  background: #F4F0CD;
}
 
 h2, h3 {
  font-family: 'Jenriv Bold';
 }

 h2 {
  letter-spacing: 6px;
  color: #282829;
  font-size: 1.5em;
 }

 h3 {
  letter-spacing: 2px;
  color: #353C2F;
  font-size: 1.2em;
 }
 p{
  color: #353C2F;
 }

 figure {
  margin: 0;
 }

 img {
  width: 100%;
 }
 
/******************** MOBILE STYLES **************/



                        /* Header Styles */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  background: url('../img/images-icons/typewriter.jpg') center no-repeat;
  background-size: cover;
  min-height: 250px;
}

.hero-area {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header h1 {
  font-family: earthan;
  color: #282829;
  font-size: 4.0em;
  padding-left: 120px;
  padding-left: 30px;
  margin: 0;
}

.hero-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#title-one, #title-two, #title-three{
  font-family: Jenriv Bold;
  font-size: 0.7em;
  text-align: center;
  margin: 0;
  letter-spacing: 2px;
}

#title-one, #title-two{
  margin: 0;
  color: #353C2F;
}

#title-three {
  width: 100%;
  text-align: center;
  margin: 0;
  color: #c5541b;
}




                        /* Projects */

section {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jenriv Bold';
}





                        /* About Me */

.about-me {
  background: #E9E19B;
}

.about-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#tagline {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2em;
}

.bio p span {
  color: #c5541b;
}

.headshot img {
  width: 350px;
  height: 400px;
}

                        /* Footer */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


.footer-content {
  width: 100%;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

footer i {
  font-size: 2.5em;
  color: #c5541b;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.copyright p {
  color: #c5541b;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Header  */


h2 {
  font-size: 2.5em;

}

h3 {
  font-size: 1.6em;
}

p {
  font-size: 1.2em;
}

header {
  min-height: 450px;
}


header h1 {
  font-family: earthan;
  color: #282829;
  font-size: 9.0em;
  padding-left: 120px;
  padding-left: 30px;
  margin: 0;
}


#title-one, #title-two, #title-three{
  font-size: 1.2em;
  letter-spacing: 2px;
}



                        /* Projects */

  .projects .content-wrapper {
  width: 100%;
}


.projects {
  min-height: 800px;
  
}


.projects .content-wrapper {
  justify-content: space-around;
}

.project-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.projects article {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 300px;

}

                    /* About Me */

.about-me .content-wrapper {
  width: 95%;
}
#tagline {
  font-size: 1.2em;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.about-content article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
  }

.about-content article .headshot, 
.about-content article .bio {
  width: 48%;
  
}

.headshot img {
  width: 100%;
  height: 100%;
}

}



@media only screen and (min-width: 1200px) {
  /* Style adjustments for viewports that meet the condition */

h2 {
  font-size: 3.5em;

}

h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
}

header {
  min-height: 700px;
}

header h1 {
  font-family: earthan;
  color: #282829;
  font-size: 15em;
  padding-left: 120px;
  padding-left: 30px;
  margin: 0;
}

#title-one, #title-two, #title-three{
  font-size: 2.5em;
  letter-spacing: 2px;
}

                      /* Projects */

.projects article {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 800px;
  flex-basis: 600px;
  margin-bottom: 100px;

}

                      /* About Me */

#tagline {
  font-size: 2.0em;
}

.about-content article .headshot, 
.about-content article .bio {
  flex-basis: 500px;
}

.headshot img {
  width: 100%;
  height: 100%;
}


}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

